@(content: Html, userName: String)

<!DOCTYPE html>
<html lang="hu">
    <head>
        <title>All books</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/bootstrap.js")" type="text/javascript"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@routes.AddressController.index()">Címek</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@routes.AddressController.create()">Új cím <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            @if(userName != null) {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@routes.LoginController.logout()">Kilépés</a>
                    </li>
                </ul>
            }
        </nav>

        <div class="container my-body">
        @content
        </div>
    </body>
</html>